@if (statusVisible$ | async) {
  <p [@inOutAnimation]>
    {{ status$ | async }}
  </p>
}

@if ((hasRequiredQueryParams$ | async) === false) {
  <p>&#9888;&#65039; Your URL doesn't seem correct.</p>
}

@if (warningVisible$ | async) {
  <span class="warning">
    <ng-icon name="heroExclamationTriangle"></ng-icon>
  </span>
}

<p [@visualAlert]="visualAlertVisible$ | async">
  @if (visualAlert$ | async; as alert) {
    <!-- <i>{{ alert.invokedAt }}</i> -->
    {{ alert.payloadToPlay }}
  }
</p>
<audio #audio [src]="audioSource" autoplay></audio>
