@use "sass:list";

:host {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

$vertical: top center bottom;
$horizontal: left center right;

@for $vi from 1 through list.length($vertical) {
    $v: list.nth($vertical, $vi);
    @for $hi from 1 through list.length($horizontal) {
        $h: list.nth($horizontal, $hi);
        .grid-item-#{$v}-#{$h} {
            grid-column: $hi;
            grid-row: $vi;
        }
    }
}

* {
    color: green;
}

.warning {
    color: orange !important;
    font-size: 10em;
}

.alert-text {
    white-space: pre-line;
}

.visual-alert-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .alert-text {
        text-align: center;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2em;
        font-weight: bold;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}
