@if (currentAlert$ | async; as alert) {
  <div
    [aria-hidden]="true"
    [classList]="alert.classes"
    [animate.enter]="'enter-animation'"
    [animate.exit]="'exit-animation'"
    (click)="skipAlert()"
  >
    @if (alert.properties; as alertProperties) {
      <img class="alert-image" [src]="alertProperties.image" alt="Visual Alert Image" />
      <span class="alert-text" [style]="alert.styles">{{ alertProperties.text }}</span>
    } @else {
      <span class="alert-text" [style]="alert.styles">{{ alert.invocation.payloadToPlay }}</span>
    }
  </div>
}

<!-- Overlay -->
@if (status$ | async; as status) {
  @if (!status.isConnected) {
    <div class="overlay-alert">
      <ng-icon name="heroExclamationTriangle"></ng-icon>
      <p>Connection to server failed! Stream Alerts not operational!</p>
    </div>
  }
} @else if ((isConfigured$ | async) === false) {
  <div class="overlay-alert">
    <ng-icon name="heroExclamationTriangle"></ng-icon>
    <p>No Channel or Token provided! Stream Alerts not operational!</p>
  </div>
}
